.middle_cont {
  width: 80%;
  margin: 0 10%;
}
.counter {
  margin: 0 40%;
  font-size: 15em;
  text-align: center;
  color: rgba(242, 124, 15, 1);
}
.operations {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}
.decrease {
  background-color: rgba(242, 124, 15, 1);
  color: white;
  border: 1px solid rgba(242, 124, 15, 1);
  border-radius: 3px;
  margin: 0 5%;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 30px;
}
.increase {
  background-color: rgba(0, 51, 153, 1);
  color: white;
  border: 1px solid rgba(0, 51, 153, 1);
  border-radius: 3px;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 30px;
}
.reset {
  border: 1px solid rgba(229, 229, 229, 1);
  background-color: rgba(229, 229, 229, 1);
  border-radius: 3px;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 30px;
}